@tailwind base;
@tailwind components;
@tailwind utilities;


:root {


  --white: #fafafa;
  --accent: var(--white);

  --primary-col: 40, 99, 66;
  --sec-col: 90,
    153,
    116;
  --background-start-rgb: 16, 24, 43;
}

body {
  color: #ccc;
  background: rgb(var(--background-start-rgb));
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  scroll-behavior: smooth;
}



::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background: var(--background);
}


::-webkit-scrollbar-thumb {
  background: var(--accent);
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: var(--background);
}

html {
  scroll-snap-type: y mandatory;
}

h1 {
  font-size: 56px;
  font-weight: 700;
  letter-spacing: -3px;
  line-height: 1.2;
  text-align: center;
  margin: 100px 0;
}


.indicator {
  margin: 0;
  color: var(--accent);
  font-size: 56px;
  font-weight: 700;
  letter-spacing: -3px;
  line-height: 1.2;
  position: absolute;
}

.tran-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  scroll-snap-align: center;
  perspective: 500px;
}

.tran-wrapper .tran-div {
  max-width: 900px;
  position: absolute;
  max-height: 90vh;
  margin: 20px;
  overflow: hidden;
}

.progress {
  position: fixed;
  left: 0;
  right: 0;
  height: 5px;
  background: #1ecc66;
  bottom: 0;
}


@layer utilities {
  .nav-bg {
    background: rgba(16, 24, 43, 0.99);
    z-index: 100;
  }

  .primary-col {
    color: #19934e;
  }

  .primary-col-border {
    border: 1px solid #19934e;
  }

  .primary-col-bg {
    background: #19934e;
  }

  .secondary-col {
    color: #1ecc66;
  }

  .secondary-col-bg {
    background: rgb(30, 204, 102);

  }

  .page-padding {
    @apply py-4 px-14 md:px-24 lg:px-32 xl:px-44
  }
}