@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --white: #fafafa;
  --accent: var(--white);
  --primary-col: 40, 99, 66;
  --sec-col: 90, 153, 116;
  --background-start-rgb: 16, 24, 43;
}

body {
  color: #ccc;
  background: rgb(var(--background-start-rgb));
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: var(--accent);
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: var(--background);
}

html {
  scroll-snap-type: y mandatory;
}

.main-section,
.second-section {
  scroll-snap-align: center;
}


.indicator {
  margin: 0;
  color: var(--accent);
  font-size: 56px;
  font-weight: 700;
  letter-spacing: -3px;
  line-height: 1.2;
  position: absolute;
}

.tran-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  scroll-snap-align: center;
}

.tran-wrapper .tran-div {
  position: absolute;
  margin: 20px;
  overflow: hidden;
}

.progress {
  position: fixed;
  left: 0;
  right: 0;
  height: 5px;
  background: #1ecc66;
  bottom: 0;
}



@layer utilities {
  .nav-bg {
    background: rgba(16, 24, 43, 0.8);
    z-index: 100;
  }

  .layer-bg {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }

  .primary-col {
    color: #19934e;
  }

  .primary-col-border {
    border: 1px solid #19934e;
  }

  .primary-col-bg {
    background: #19934e;
  }

  .secondary-col {
    color: #1ecc66;
  }

  .secondary-col-bg {
    background: rgb(30, 204, 102);

  }


  .slider-col {
    color: #4b4b4b11;
  }

  .page-padding {
    @apply py-4 px-14 md:px-16 lg:px-28 xl:px-36
  }

  .nav-padding {
    @apply py-4 px-8 md:px-24 lg:px-32 xl:px-44
  }

  .div-padding {
    @apply p-5 md:px-8 md:py-6
  }
}