@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --primary-col: 40, 99, 66;
  --sec-col: 90,
    153,
    116;
  --background-start-rgb: 16, 24, 43;
}

body {
  color: #ccc;
  background: rgb(var(--background-start-rgb));
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  scroll-behavior: smooth;
}

@layer utilities {
  .primary-col {
    color: #286342;
  }

  .nav-bg {
    background: rgba(16, 24, 43, 0.99);
  }

  .secondary-col {
    color: #5a9974;
  }

  .page-padding {
    @apply py-4 px-14 md:px-24 lg:px-32 xl:px-44
  }
}